<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=2">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/mark_student_attendance" onclick="return verifyUser()">Mark Attendance</a></li> -->
            <!-- <li><a href="/admin" onclick="return verifyAdmin()">Admin/Faculty Panel </a></li> -->
        </ul>
    </nav>

    <div class="container">
        <h1>Welcome to Face Recognition Attendance System</h1>
        <p>Click below to login and start attendance marking.</p>

        <div class="button-container">
            <a href="{{ url_for('student_login') }}"><button>Student Corner</button></a>
            <a href="{{ url_for('admin_login') }}"><button>Admin Corner</button></a>
        </div>
    </div>

</body>
</html>
